.mainReportDiv{
    text-align: center;
}


.certificate{
    margin-top: 20px;
    background-color: rgb(255, 247, 234);
    background-size: 100% 100%;
    width: 80%;
    height: auto;
    margin: 0% 10%;
    text-align: center;
    padding:10px;
    padding-left: 20px;
    letter-spacing: 2px;
}


img{
    width: 70%;
}

.logo{
    text-align: center;
    background-color: rgba(212, 242, 251, 0.787);
    border:1px solid #46daf8;
    color: rgb(78, 5, 5);
    width: 55px;
    margin: 20px;
    border-radius: 1500px;
    padding: 18px;
    letter-spacing: 3px;
    margin-left: 80%;
}


.logo h2{
    margin-top: 10px;
}


button{
    padding: 5px 15px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    background-color: rgba(7, 221, 61, 0.411);
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    border-radius: 15px;
    transition: 0.2s;
    border: 1px solid ;
    margin: 50px;
}

button:hover{
    transform: scale(1.05);
}

p{
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
}

.failDiv{
    margin-top: 20px;
    background-color: rgb(255, 227, 181);
    width: 80%;
    height: auto;
    border: 2px solid black;
    margin-left: 8%;
    text-align: center;
    color: rgb(39, 9, 9);
    letter-spacing: 3px;
    word-spacing: 5px;
    border-radius: 20px;
    padding: 20px;
    border-style: outset;
}

.failDiv h1{
    font-family: 'Fredoka One', cursive;
    color: rgb(151, 0, 0);
}


.failDiv h4{
    font-family: 'Fredoka One', cursive;
    font-size: larger;
    color: blue;
}

/* css for modal */
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 10px;
    background-color: #e2e2e2;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    color: brown;
    font-size: 1.3em;
    
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
  
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.modal a{
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
}


.modal p{
    margin: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: large;
}
