<div class="aboutUsContainer">
    <h1>About Us</h1>
    <div class="info">
        <p>Hexadecimal Code was started in 2021 as an educational initiative for the programming community by Ankit, an
            Indian software developer.
            Today, Hexadecimal is one of the world’s largest and popular global programming knowledge test platforms
            preferred by student &amp;
            professional programmers.</p>
        <p>Hexadecimal promotes constant learning and friendly programming competitions for its users, along with the
            support of its large
            community of problem curators.</p>
        <p>Hexadecimal was created as a platform to help programmers make it big in the world of algorithms, computer
            programming, and
            programming contests. </p>
        <h2>How it all started and when?</h2>
        <p>It was in the year 2021 that Hexadecimal was founded in Nagpur, Maharashtra (India). The goal &amp; the
            discussion point was
            - How to improve and expand the Indian programming community.</p><br>
        <p><strong>More than a million programmers worldwide have joined Hexadecimal so far, and we're always looking
                for more.</strong></p>
    </div>
</div>