<div class="allCoursecontainer">
    <div id="errorDiv"></div>
    <ng-container *ngFor="let course of courses">
        <div class="courseDiv">
            <img [src]="course.imagePath" id="course.courseName" alt="course_logo" />
            <h4>{{course.courseName}}</h4>
            <button (click)="enrollUserToACourse()" [disabled]="isAlreadyEnrolled.has(course.courseId)" class="tooltip">
                Enroll
                <span class="tooltiptext">Your have already enrolled for this course</span>
            </button>
            <button (click)="goToInstruction()" [disabled]="!isAlreadyEnrolled.has(course.courseId)" class="tooltip">
                Take Test
                <span class="tooltiptext">Your need to enroll to this course first</span>
            </button>
        </div>
    </ng-container>
</div>