<div class="instructionDiv">
    <h1>General Information</h1>
    <ol>
        <li>
            The examination will comprise of Objective type Multiple Choice Questions (MCQs)
        </li>
        <li>
            All questions are compulsory and each carries One mark.
        </li>
        <li>
            There are 10 questions for which u have 10 minute to solve.
        </li>
        <li>
            The question will only be based on the course you have selected and the level of your certification.
        </li>
        <li>
            There will be NO NEGATIVE MARKING for the wrong answers.
        </li>
        <li>
            Result will be displayed after the submission of test.
        </li>
        <li>
           You need atleast 70% marks to clear the test.
        </li>
    </ol>


    <h1>Instructions</h1>
    <ol>
        <li>
            The examination does not require using any paper, pen, pencil and calculator.
        </li>
        <li>
            Every student will take the examination on a Laptop/Desktop/Smart Phone
        </li>
        <li>
            The students just need to click on the Right Choice / Correct option from the
            multiple choices /options given with each question. For Multiple Choice Questions,
            each question has three options, and the candidate has to click the appropriate
            option.
        </li>
    </ol>

    <button (click)="takeTest()">
        Take Test
    </button>
</div>