<div class="loginContainer">
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" required placeholder="Enter your email">
        <br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" required placeholder="Enter your password">
        <br>

        <a [routerLink]="['/forgotPasswordLink']">Forgot Password?</a> <br>

        <button type="submit">Log In</button>

        <p>Don't have an account? <a [routerLink]="['/registerLink']">Register here</a></p>
    </form>
</div>

