<ng-particles class="particles" [id]="id " [options]="particlesOptions " (particlesLoaded)="particlesLoaded($event) "
    (particlesInit)="particlesInit($event) ">
</ng-particles>
<div class="navBar">
    <ul>
        <li class="leftFloat"><img src="../assets/logo.png" alt="logo" height="80px"></li>
        <li class="rightFloat">
            <div class="dropdown">
                <input type="image" src="../assets/login.png" style="height: 30px; width: 30px;" class="dropbtn" />
                <div class="dropdown-content">
                    <a [routerLink]="['/registerLink']">Register</a>
                    <a>Login</a>
                </div>
            </div>

        </li>
        <li class="rightFloat"><a [routerLink]="['/aboutUsLink']">About Us</a></li>
        <li class="rightFloat"><a [routerLink]="['/homeLink']">Home</a></li>
    </ul>
</div>
<div class="brDiv">
    <br><br><br><br>
</div>

<div class="contentDiv">
    <router-outlet></router-outlet>
</div>


<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a [routerLink]="['/homeLink']">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a [routerLink]="['/aboutUsLink']">About Us</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Hexadecimal Code © 2021</p>
    </footer>
</div>