<div class="mainContainer">
    <p id="timer"></p>
    <div class="testDiv">
        <h1 id="question"></h1>

        <input type="radio" name="option" id="a" class="answer">
        <label for="a" id="option1"></label><br>

        <input type="radio" name="option" id="b" class="answer">
        <label for="b" id="option2"></label><br>

        <input type="radio" name="option" id="c" class="answer">
        <label for="c" id="option3"></label><br>

        <input type="radio" name="option" id="d" class="answer">
        <label for="d" id="option4"></label><br>

        <hr>
        <div class="buttonDiv">
            <button (click)="previousQuestion()" id="previousButton">Previous</button>
            <button (click)="nextQuestion()" id="nextButton">Next</button>
            <br>
            <hr>
            <br>
            <button (click)="submitTest()">Submit</button>
        </div>
    </div>
</div>