<div class="tabs">
    <button class="tabLinks" id="addQuestionBtn" (click)="showDiv('addQuestionDiv')">Add Question</button><br>
    <button class="tabLinks" id="removeQuestionBtn" (click)="showDiv('removeQuestionDiv')">Remove Question</button><br>
    <button class="tabLinks" id="viewReportsBtn" (click)="showDiv('viewReportDiv')">View Reports</button><br>
    <button class="tabLinks" id="viewReportsBtn">Sign Out</button>
</div>

<div class="mainAdminDiv">

    <div class="tabContent">
        <div id="welcomeAdminDiv">
            <h1>Welcome Admin!!!!</h1>
            <ul>
                <li>To add question select Add question tab</li>
                <li>To remove question select Remove question tab</li>
                <li>To view Reports select View Reports tab</li>
            </ul>

        </div>

        <div id="addQuestionDiv">
            <h2>Add questions</h2>

            <label for="subject">Enter the Subject </label><br>
            <input type="text" id="subject" name="subject">
            <br>

            <label for="level">Enter level</label><br>
            <input type="number" id="level" name="level">
            <br>


            <div class="questionInputDiv">
                <label for="questionText"> Enter the question</label><br>
                <input type="text" name="questionText" id="questionText">
                <br>

                <label for="option1"> Enter the option a</label><br>
                <input type="text" name="option1" id="option1">
                <br>

                <label for="option2"> Enter the option b</label><br>
                <input type="text" name="option2" id="option2">
                <br>

                <label for="option3"> Enter the option c</label><br>
                <input type="text" name="option3" id="option3">
                <br>


                <label for="option4"> Enter the option d</label><br>
                <input type="text" name="option4" id="option4">
                <br>


                <label for="correctAns"> Correct option (a,b,c,d) </label><br>
                <input type="text" name="correctAns" id="correctAns">
                <br>

                <button>Add Question</button>
            </div>
        </div>


        <div id="removeQuestionDiv">
            <h2>Remove questions</h2>
            <label for="subject">Enter subject</label><br>
            <input type="text" id="subject" name="subject">
            <br>

            <label for="level"> Enter level </label><br>
            <input type="number" id="level" name="level">
            <br>

            <button>Find Questions</button>

            <div class="questionBylevel">


            </div>

        </div>



        <div id="viewReportDiv">
            <h2>View Reports</h2>

            <label for="subject">Enter the subject</label><br>
            <input type="text" name="subject" id="subject">
            <br>

            <label for="level">Enter level</label><br>
            <input type="text" name="level" id="level">
            <br>

            <label for="status">Select status :</label>
            <select name="status" id="status">
                <option value="pass">Pass</option>
                <option value="fail">Fail</option>
            </select>

            <br>
            <button>View Reports</button>
        </div>



    </div>


</div>