<div class="mainContainer">
    <div class="tabs">
        <button class="tabLinks" id="addQuestionBtn" (click)="showDiv('addQuestionDiv')">Add Question</button><br>
        <button class="tabLinks" id="removeQuestionBtn" (click)="showDiv('removeQuestionDiv')"
            (click)="clearOldQuestion()">Remove
            Question</button><br>
        <button class="tabLinks" id="viewReportsBtn" (click)="showDiv('viewReportDiv')" (click)="viewAllReports()">View
            Reports</button><br>
        <button class="tabLinks" id="viewReportsBtn" (click)="logOut()">Sign Out</button>
    </div>

    <div class="mainAdminDiv">

        <div class="tabContent">
            <div id="welcomeAdminDiv">
                <h1>Welcome Admin!!!!</h1>
                <ul>
                    <li>To add question select Add question tab</li>
                    <li>To remove question select Remove question tab</li>
                    <li>To view Reports select View Reports tab</li>
                </ul>

            </div>

            <div id="addQuestionDiv">
                <h2>Add questions</h2>
                <form #addQuestionForm="ngForm" (ngSubmit)="addQuestion()">
                    <label for="course">Enter the course </label><br>
                    <input #cr="ngModel" type="text" id="course" name="course" required placeholder="Enter the course"
                        pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" [(ngModel)]="courseNameToFilter">
                    <div *ngIf="cr.invalid && (cr.dirty || cr.touched)">
                        <div *ngIf="cr.errors.required" class="validation">
                            Course is required
                        </div>
                        <div *ngIf="cr.errors.pattern" class="validation">
                            Course Name is invalid
                        </div>
                    </div>
                    <br>

                    <label for="level">Enter level</label><br>
                    <input #lou="ngModel" type="text" id="level" required pattern="[1-3]" name="level"
                        [(ngModel)]="levelToFilter" placeholder="Enter level">

                    <div *ngIf="lou.invalid &&(lou.dirty|| lou.touched)">
                        <div *ngIf="lou.errors.required" class="validation">
                            Level is required
                        </div>
                        <div *ngIf="lou.errors.pattern" class="validation">
                            Enter level between 1-3
                        </div>
                    </div>
                    <br>

                    <label for="questionText"> Enter the question</label><br>
                    <textarea #qt="ngModel" name="questionText" id="questionText" rows="4" cols="50"
                        [(ngModel)]="addQuestionObj.questionText" required placeholder="Enter the question"></textarea>
                    <div *ngIf="qt.invalid && (qt.touched || qt.dirty)">
                        <div *ngIf="qt.errors.required" class="validation">
                            Question is required
                        </div>
                    </div>
                    <br>

                    <label for="option1"> Enter the option a </label><br>
                    <input #op1=ngModel required type="text" name="option1" id="option1"
                        [(ngModel)]="addQuestionObj.option1" placeholder="Enter option a">
                    <div *ngIf="op1.invalid && (op1.dirty|| op1.touched)">
                        <div *ngIf="op1.errors.required" class="validation">
                            Option a is required
                        </div>
                    </div>
                    <br>


                    <label for="option2"> Enter the option b</label><br>
                    <input #op2=ngModel required type="text" name="option2" id="option2" placeholder="Enter option b"
                        [(ngModel)]="addQuestionObj.option2">
                    <div *ngIf="op2.invalid &&(op2.dirty || op2.touched)">
                        <div *ngIf="op2.errors.required" class="validation">
                            Option b is required
                        </div>
                    </div>
                    <br>

                    <label for="option3"> Enter the option c</label><br>
                    <input #op3=ngModel required type="text" name="option3" id="option3" placeholder="Enter option c"
                        [(ngModel)]="addQuestionObj.option3">
                    <div *ngIf="op3.invalid &&(op3.dirty||op3.touched)">
                        <div ngIf="op3.errors.required" class="validation">
                            Option c is required
                        </div>
                    </div>
                    <br>

                    <label for="option4"> Enter the option d</label><br>
                    <input #op4=ngModel required type="text" name="option4" id="option4" placeholder="Enter option d"
                        [(ngModel)]="addQuestionObj.option4">
                    <div *ngIf="op4.invalid && (op4.dirty||op4.touched)" class="validation">
                        <div *ngIf="op4.errors.required">
                            Option d is required
                        </div>
                    </div>
                    <br>

                    <label for="correctAns"> Correct option (a,b,c,d) </label><br>
                    <input #co=ngModel required type="text" name="correctAns" id="correctAns" pattern="[a-d]{1}"
                        placeholder="Enter option correct option (a,b,c,d)" [(ngModel)]="addQuestionObj.correctOption">
                    <div *ngIf="co.invalid && (co.dirty || co.touched)" class="validation">
                        <div *ngIf="co.errors.required">
                            Correct option is required
                        </div>
                        <div *ngIf="co.errors.pattern">
                            Correct option can only be one of the following: a,b,c,d.
                        </div>
                    </div>
                    <br>

                    <button type="submit">Add Question</button>

                    <div id="resultDivAdd"></div>
                </form>
            </div>


            <div id="removeQuestionDiv">
                <h2>Remove questions</h2>
                <form #removeQuestionForm=ngForm (ngSubmit)="findQuestion()">
                    <label for="subject">Enter course</label><br>
                    <input #sub=ngModel type="text" id="subject" name="subject" required placeholder="Enter course name"
                        [(ngModel)]="courseNameToFilter">
                    <div *ngIf="sub.invalid &&(sub.dirty || sub.touched)">
                        <div *ngIf="sub.errors.required" class="validation">
                            Course name is required
                        </div>
                    </div>
                    <br>

                    <label for="level"> Enter level </label><br>
                    <input type="text" #lvloc="ngModel" required pattern="[1-3]{1}" placeholder="Enter level of course"
                        id="level" name="level" [(ngModel)]="levelToFilter">
                    <div *ngIf="lvloc.invalid && (lvloc.dirty || lvloc.touched)">
                        <div *ngIf="lvloc.errors.required" class="validation">
                            Level is required
                        </div>
                        <div *ngIf="lvloc.errors.pattern" class="validation">
                            Enter level between 1-3
                        </div>
                    </div>
                    <br>

                    <button type="submit">Find Questions</button>

                </form>

                <div id="resultDiv"></div>

                <div class="questionBylevel">
                    <table border="1">
                        <tr>
                            <th>Question</th>
                            <th>Option1</th>
                            <th>Option2</th>
                            <th>Option3</th>
                            <th>Option4</th>
                            <th>CorrectAnswer</th>
                            <th>Remove</th>
                        </tr>

                        <ng-container *ngFor="let question of questionsList">
                            <tr>
                                <td>{{question.questionText}}</td>
                                <td>{{question.option1}}</td>
                                <td>{{question.option2}}</td>
                                <td>{{question.option3}}</td>
                                <td>{{question.option4}}</td>
                                <td>{{question.correctOption}}</td>
                                <td><button class="btnInTable"
                                        (click)="removeQuestion(question.questionId)">Remove</button></td>
                            </tr>
                        </ng-container>
                    </table>

                </div>

            </div>



            <div id="viewReportDiv">
                <h2>All Reports</h2>
                <div class="filterReports">
                    <form #showReportForm="ngForm" (ngSubmit)="filterReportsByCondition()">
                        <label for="filterCourseName">Enter Course Name</label><br>
                        <input type="text" id="filterCourseName" name="filterCourseName"
                            [(ngModel)]="courseNameToFilter">
                        <br>

                        <label for="level">Enter level</label><br>
                        <input type="number" name="level" id="level" [(ngModel)]="levelToFilter">
                        <br>

                        <label for="status">Select Status : </label>
                        <select name="status" id="status" [(ngModel)]="statusToFilter">
                            <option value="PASSED">PASSED</option>
                            <option value="FAILED">FAILED</option>
                        </select>

                        <div id="errorDiv"></div>

                        <br>
                        <button type="submit">Filter Reports</button>
                    </form>
                </div>

                <table border="1">
                    <tr>
                        <th>User Name</th>
                        <th>Course Name</th>
                        <th>Status</th>
                        <th>Score</th>
                        <th>Level</th>
                    </tr>

                    <ng-container *ngFor="let report of filteredReports">
                        <tr>
                            <td>{{report.enrollment.user.userName}}</td>
                            <td>{{report.enrollment.course.courseName}}</td>
                            <td>{{report.status}}</td>
                            <td>{{report.score}}</td>
                            <td>{{report.levelPassed}}</td>
                        </tr>
                    </ng-container>
                </table>

            </div>

        </div>
    </div>
</div>