<div class="mainDiv">
    <!-- Slideshow container -->
    <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <img src="../assets/slideShow/1.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/2.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/3.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/4.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/5.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/6.jpeg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/7.jpeg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/8.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/9.png" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="../assets/slideShow/10.png" style="width:100%">
        </div>

    </div>
    <br>
</div>